<div class="container">
  <%=flash[:project]%>
  <div class="row">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <th>Project Users</th>
        <th></th>
        <th></th>
      </thead>
      <tbody id="add_user2">
        <%= render partial: 'projectusers', locals: { users: @users } %>
      </tbody>
    </table>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <th>Other Users</th>
        <th></th>
        <th></th>
      </thead>
      <tbody id="add_user">
        <%= render partial: 'user', locals: { all_users: @all_users } %>
      </tbody>
    </table>
  </div>
</div>
